@import '../css/nav.css';
@import '../css/footer.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: white;
    font: 14px/1.5 'Microsoft YaHei', arial, tahoma, \5b8b\4f53, sans-serif;
    overflow-x: hidden;
    background: url(../images/night/1.jpg) fixed;
    background-size: cover;
    position: relative;
}

.container-right-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    z-index: -99;
}

li {
    list-style: none;
}

.toptext {
    width: 100%;
    height: 550px;
}

.toptext-content {
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
    padding: 190px 0px 200px 30px;
}

.toptext h1 {
    font-size: 4rem;
    line-height: 2em;
}

.toptext h2 {
    width: 60%;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: normal;
}

/*下面的内容部分*/

.container {
    width: 100%;
    background: hsla(0, 0%, 100%, 0.356);
    display: flex;
    position: relative;
}

.container-left-bg {
    width: 40%;
    height: 100%;
    position: absolute;
    left: -40%;
    background: hsla(0, 0%, 100%, 0.356);
    z-index: -5;
}

@media (min-width: 992px) {
    .container {
        max-width: 1152px;
        margin: 0 auto;
    }
}

.container-left {
    flex: 0 0 65%;
    padding: 20px 30px;
}

.container-left h3 {
    color: rgb(255, 196, 0);
    font-weight: 600;
    padding-left: 16px;
    font-size: 1.3rem;
}

.container-left h2 {
    color: black;
    font-weight: 700;
    padding-left: 16px;
    font-size: 2.5rem;
}

.container-left-pics {
    margin-top: 20px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container-left-pics li {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 500px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 24px;
}

.container-left-pics img {
    width: 100%;
    height: 100%;
}

.container-left-span {
    width: calc(100% - 32px);
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    bottom: 24px;
    z-index: 3;
    padding: 1rem 2rem 1.5rem;
}

.container-left-pics h3 {
    font-size: 12px;
    font-weight: normal;
    padding-left: 0px;
    color: white;
    cursor: pointer;
}

.container-left-pics h4 {
    font-size: 24px;
    cursor: pointer;
}

.container-left-pics span {
    background-color: rgba(10, 11, 9, 0.767);
    line-height: 1.25rem;
    display: inline-block;
    padding: .375rem .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.button {
    margin: 10px auto;
    cursor: pointer;
    height: 48px;
    width: 48px;
    font-size: 33px;
    line-height: 44px;
    border-radius: 50%;
    z-index: 3;
    background-color: #d91d49;
    border-color: #d91d49;
    font-weight: 800;
    text-align: center;
}

.list {
    border-top: 1px solid #dddfdb;
    border-bottom: 1px solid #dddfdb;
    margin: 17px 16px;
}

.list li {
    border-top: 1px solid #dddfdb;
    padding: 20px 0;
    color: #0a0b09;
    border-bottom: 1px solid #dddfdb;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
}

/*right*/

.container-right {
    position: relative;
    flex: 0 0 25%;
    width: 25%;
    margin-left: 10%;
}

.container-right3 {
    position: sticky;
    top: 0;
}

.container-right2 {
    height: 100vh;
    background: #fff0c7;
}

.container-right-top {
    width: 100%;
    height: 100px;
    font-size: 12px;
    font-weight: 600;
    color: #ffc400;
    text-align: left;
    background: black;
    padding: 24px 10px;
    border-bottom: 2px lightslategray solid;
}

.container-right-top span {
    font-size: 18px;
    color: white;
}

.container-right-bottom {
    width: 100%;
    height: calc(100% - 100px);
    background: url(../images/backlines.png);
    background-size: cover;
}